<!DOCTYPE html>
<html lang="en">
<style>
div{background:white;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
    {% include "home/include/header.html" %}
</head>
<body>

<h2>Activity List:</h2>
        <button style = "padding:7px;width:80px;" onclick="window.location. href='{% url 'home:FilterActivity' %}'">
            Filter
    </button><br/>
    {% if activity_list %}
        <ul>
            {% for activity in activity_list %}
            <li>
            {{activity.timestamp}}<br/>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{activity.User_ID}} {{activity.Activity_Details}} {{activity.Effected_ID}}
            </li>
            {% endfor %}
        </ul>
    {%else%}
        <p> No Activities available</p>
    {% endif %}
        <button style = "padding:7px;width:80px;" onclick="window.location. href='{% url 'home:FilterActivity' %}'">
            Filter
    </button><br/>
</body>
</html>