<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity Log</title>
{% include "home/include/header.html" %}
    <style>
div {
background-color:white; color:black;
}
ul{
list-style-type: none;
padding: 5px;
position:relative;
right:6px
}
li{
padding: 5px;
background-color:#e6e6e6
}
li:nth-child(odd){
background: lightgray;
}
</style>
</head>
<body>
        <h2>Search Activity Log</h2>
        <form method="post">
        {% csrf_token %}
        {{activities.as_p}}
        <button type="submit">Search</button>
    </form>
</body>
</html>