<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload Files</title>
    </head>

    <body>
        <!-- List of uploaded documents 
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.attachedFiles.url }}">{{ document.filename }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p> 
        {% endif %}    -->
  
        <!-- Upload form. Note enctype attribute! -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}

            <!---<p><input type="submit" value="Upload"/></p>-->
            <button type="submit">Upload</button>
        </form><br/>
        <button onclick="window.location.href='/home/'">Return</button>
    </body>

</html>