<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    {% include "home/include/header.html" %}
</head>
<body>
    {% if hospital and search == False%}
    <h2>Patient List for {{hospital}}:</h2>
    {% elif search == True%}
    <h2>Search Results:</h2>
    {% else %}
    <h2>All Patients on Healthnet:</h2>
    {% endif %}
    {% if user.user_type != 'patient' and user.user_type != 'nurse' %}
    <button style = "padding:7px;width:80px;" onclick="window.location. href='{% url 'home:FilterPatients' %}'">
            Filter
    </button><br/> 
    {% endif %}
    {% if patient_list %}
        <ul>
            {% for patient in patient_list %}
            <li><a href="{% url 'home:pDetail' patient.user.username %}"style="text-decoration: none;";>
                {{patient.user.last_name}}, {{patient.user.first_name}} ({{patient.user.username}})
            </a>
            </li>
            {% endfor %}
        </ul>
    {%else%}
        <p> No Patients available</p>
    {% endif %}
</body>
</html>